################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cliente/DesignTimeBuild/.dtbcache.v2
/.vs/cliente/FileContentIndex/1351c5d7-8986-47d2-9dce-b23d8ba70b97.vsidx
/.vs/cliente/FileContentIndex/18dc81a3-abb5-4153-a206-216f5212b373.vsidx
/.vs/cliente/FileContentIndex/9f1d18f5-c573-43b7-82a5-93d17f10d45a.vsidx
/.vs/cliente/FileContentIndex/351b5b22-a96a-4db1-9996-71df53974c5f.vsidx
/.vs/cliente/FileContentIndex/d024c2c8-b848-43fd-9956-53999fca5520.vsidx
/.vs/cliente/v17/.futdcache.v2
/.vs/cliente/v17/.suo
/.vs/ProjectEvaluation/cliente.metadata.v7.bin
/.vs/ProjectEvaluation/cliente.projects.v7.bin
/cliente/bin/Debug/net7.0/cliente.dll
/cliente/bin/Debug/net7.0/cliente.pdb
/cliente/obj/Debug/net7.0/cliente.assets.cache
*.dll
/cliente/obj/Debug/net7.0/cliente.genruntimeconfig.cache
/cliente/obj/Debug/net7.0/cliente.GeneratedMSBuildEditorConfig.editorconfig
/cliente/obj/cliente.csproj.nuget.dgspec.json
/cliente/obj/Debug/net7.0/cliente.pdb
/cliente/obj/project.assets.json
/cliente/obj/Debug/net7.0/cliente.csproj.FileListAbsolute.txt
/cliente/obj/project.nuget.cache
/.vs/cliente/DesignTimeBuild/.dtbcache.v2
/.vs/cliente/FileContentIndex/18dc81a3-abb5-4153-a206-216f5212b373.vsidx
/.vs/cliente/FileContentIndex/351b5b22-a96a-4db1-9996-71df53974c5f.vsidx
/.vs/cliente/v17/.futdcache.v2
/.vs/cliente/v17/.suo
/.vs/ProjectEvaluation/cliente.metadata.v7.bin
/.vs/ProjectEvaluation/cliente.projects.v7.bin
/cliente/bin/Debug/net7.0/cliente.dll
/cliente/bin/Debug/net7.0/cliente.pdb
/cliente/obj/Debug/net7.0/cliente.assets.cache
/cliente/obj/Debug/net7.0/cliente.dll
/cliente/obj/Debug/net7.0/cliente.csproj.FileListAbsolute.txt
/cliente/obj/cliente.csproj.nuget.dgspec.json
/cliente/obj/Debug/net7.0/cliente.genruntimeconfig.cache
/cliente/obj/project.assets.json
/cliente/obj/Debug/net7.0/cliente.pdb
/cliente/obj/Debug/net7.0/cliente.GeneratedMSBuildEditorConfig.editorconfig
/cliente/obj/project.nuget.cache
